<div class="bdnavi">
  <% if @user.present? %>
    <% content_for :title do %><%= "購入したアイテム" %><% end %>
    <ul class="breadcrumb">
      <li><%= link_to "#{@user.profile.nickname}", admin_user_path(@user) %> &gt;</li>
      <li><%= yield :title =%></li>
    </ul>
  <% else %>
    <% content_for :title do %>レシート一覧<% end %>
    <ul class="breadcrumb">
      <li><%= yield :title =%></li>
    </ul>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>アイテム</th>
      <th>ユーザーID</th>
      <th>レシートコード</th>
      <th>作成日時</th>
    </tr>
  </thead>
  <tbody>
<% @receipts.each do |receipt| %>
    <tr>
      <td><%= receipt.id %></td>
      <td><%= link_to "#{receipt.item.title}", admin_item_path(receipt.item) %></td>
      <td><%= link_to "#{receipt.user_id}", admin_user_path(receipt.user_id) %></td>
      <td><%= receipt.receipt_code %></td>
      <td><%= receipt.created_at %></td>
      <td>
        <%= link_to "詳細", admin_receipt_path(receipt) %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
<%= paginate @receipts %>