<% content_for :title do %>グループイメージ詳細<% end %>

<div class="row">
  <div class="span8 offset3 well">
    <h3><%= yield :title %></h3>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>ID</td>
          <td><%= @group_image.id %></td>
        </tr>
        <tr>
          <td>グループイメージ名</td>
          <td><%= @group_image.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-centered">
      <%= link_to edit_admin_group_image_path(@group_image), :class => "btn btn-primary" do %><i class="icon-edit icon-white"></i>編集<% end %>
      <%= link_to [:admin, @group_image], :confirm => 'グループイメージを削除しますか?', :class => "btn btn-danger", :method => :delete do %><i class="icon-trash icon-white"></i>削除<% end %>
      <%= link_to "戻る", admin_group_images_path, :class => "btn" %>
    </div>
  </div>
</div>
