<% content_for :title do %>お気に入りのユーザー<% end %>
<div class="bdnavi">
  <ul class="breadcrumb">
    <li><%= link_to "#{@user.profile.nickname}", admin_user_path(@user) %> &gt;</li>
    <li><%= yield :title =%></li>
  </ul>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>ニックネーム</th>
      <th>性別</th>
      <th>年齢</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
        <tr>
          <td><%= profile.id %></td>
          <td><%= profile.nickname %></td>
          <td><%= profile.gender %></td>
          <td><%= profile.age %></td>
          <td>
            <%= link_to "詳細", admin_profile_path(profile) %> |
            <%= link_to "編集", edit_admin_profile_path(profile) %> |
            <%= link_to "お気に入りを解除", admin_user_favorite_path(@user, profile), :confirm => 'お気に入りを削除しますか?', :method=> :delete %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @profiles %>