<% content_for :title do %>性格詳細<% end %>

<div class="row">
  <div class="span8 offset2 well">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>ID</td>
          <td><%= @character.id %></td>
        </tr>
        <tr>
          <td>性格名</td>
          <td><%= @character.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-centered">
      <%= link_to edit_admin_character_path(@character), :class => "btn btn-primary" do %><i class="icon-edit icon-white"></i>編集<% end %>
      <%= link_to [:admin, @character], :confirm => 'キャラクターを削除しますか?', :class => "btn btn-danger", :method => :delete do %><i class="icon-trash icon-white"></i>削除<% end %>
      <%= link_to "戻る", admin_characters_path, :class => "btn" %>
    </div>
  </div>
</div>
