<% content_for :title do %>いいねしたユーザー<% end %>
<div class="bdnavi">
  <ul class="breadcrumb">
    <li>ユーザー管理 &gt;</li>
    <li><%= link_to "ユーザー一覧", [:admin, :users] %> &gt;</li>
    <li><%= link_to "#{@user.profile.nickname}", admin_user_path(@user) %> &gt;</li>
    <li><%= yield :title =%></li>
  </ul>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>ニックネーム</th>
      <th>性別</th>
      <th>年齢</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
        <tr>
          <td><%= profile.id %></td>
          <td><%= profile.nickname %></td>
          <td><%= profile.gender %></td>
          <td><%= profile.age %></td>
          <td>
            <%= link_to "詳細", admin_user_path(profile.user) %> |
            <%= link_to "いいねを解除", admin_user_like_path(@user, profile), :confirm => 'いいねを解除しますか?', :method=> :delete %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @profiles %>