<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Admin <%= yield :title %> | CouplingServer</title>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ユーザー管理<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to('ユーザー', admin_users_path) %></a>
              <li><%= link_to('ユーザー(ID降順)', admin_users_path({field: "id", direction: "DESC"})) %></a>
              <li><%= link_to('セッション', admin_sessions_path) %></a>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">マスタ管理<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to('趣味', admin_hobbies_path) %></a>
              <li><%= link_to('性格', admin_characters_path) %></a>
              <li><%= link_to('特技', admin_specialities_path) %></a>
              <li><%= link_to('グループイメージ', admin_group_images_path) %></a>
              <li><%= link_to('アイテム', admin_items_path) %></a>
            </ul>
          </li>
          <li><%= link_to('画像', admin_images_path) %></a>
          <li><%= link_to('レシート', admin_receipts_path) %></a>
          <li><%= link_to('通知', admin_infos_path) %></a>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">統計<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to('全体', admin_statics_path) %></a>
              <li><%= link_to('月次', admin_statics_by_month_path) %></a>
              <li><%= link_to('日時', admin_statics_by_day_path) %></a>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
<%= content_for?(:content) ? yield(:content) : yield %>
</div>


</body>
</html>
