<% content_for :content do %>
  <div class="bdnavi">
    <ul class="breadcrumb">
      <li>ユーザー管理 &gt;</li>
      <% if @user.present? %>
        <li><%= link_to "ユーザー一覧", [:admin, :users] %> &gt;</li>
        <li><%= yield :title =%></li>
      <% else %>
        <li><%= yield :title =%></li>
      <% end %>
    </ul>
  </div>
  <%= yield %>
<% end %>
<%= render :file => 'layouts/admin' %>